@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.feed{
    width: 100%;
    max-width: 400px;
    background: #fafafa;
}

.post {
    width: 400px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .username {
    font-weight: bold;
}

.user-info .ubicacion {
    color: #8e8e8e;
    font-size: 12px;
}

.post-image img {
    width: 100%;
    display: block;
}

.post-footer {
    padding: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    opacity: 0.8;
}

.caption {
    margin-top: 10px;
    font-size: 14px;
}

#like-count{
    font-size: 14px;
    color: #8e8e8e;
}